/******************************
 *          UTILITIES         *
 ****************************** */
/* ---------  NORMALIZE  ----------- */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/* ---------  GENERAL  ----------- */
*, *:after, *:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* ---------  VARIABLES (hidden in css)  ----------- */
/* ----- Base Colors ---- */
/******************************
 *            BASE            *
 ****************************** */
body {
  font-family: "Lexend Deca", sans-serif; }

h2 {
  font-family: "Inter", sans-serif;
  margin: 0; }

.large-text {
  font-size: 4.5rem; }
  @media screen and (max-width: 450px) {
    .large-text {
      font-size: 3.5rem; } }

.medium-text {
  font-size: 3rem; }

.small-text {
  font-size: 1.5rem; }

/******************************
 *            LAYOUT          *
 ****************************** */
.l-col-flex {
  display: flex;
  flex-flow: column nowrap; }

.l-row-flex {
  display: flex;
  flex-flow: row nowrap; }

.l-viewport {
  width: 100vw;
  height: 100vh; }

.l-center {
  justify-content: center;
  align-items: center; }

.l-distance {
  margin-top: auto; }
  @media screen and (max-width: 450px) {
    .l-distance {
      margin: 0; } }

.l-spacebetween {
  justify-content: space-between; }

/******************************
 *           MODULES          *
 ****************************** */
/* ---------  STATS PREVIEW CARD  ----------- */
/***  LAYOUT  *** */
.stats-preview {
  display: flex;
  flex-flow: row nowrap;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 500px;
  width: 1300px; }
  @media screen and (max-width: 450px) {
    .stats-preview {
      flex-flow: column nowrap;
      height: 720px;
      width: 400px;
      border-radius: 10px; } }
  .stats-preview > div:first-child {
    order: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 450px) {
      .stats-preview > div:first-child {
        order: 0;
        height: 30%;
        width: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px; } }
  .stats-preview > div:last-child {
    padding: 80px;
    height: 100%; }
    @media screen and (max-width: 450px) {
      .stats-preview > div:last-child {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        order: 0;
        height: 70%;
        width: 100%;
        padding: 20px 30px;
        text-align: center; }
        .stats-preview > div:last-child > div > div {
          margin: 10px 0; } }

.stats-preview__text > p {
  line-height: 2;
  letter-spacing: 1px;
  padding-right: 50px; }
  @media screen and (max-width: 450px) {
    .stats-preview__text > p {
      padding: 0;
      line-height: 1.5; } }

.stats-preview__text > div {
  margin-right: 50px; }
  @media screen and (max-width: 450px) {
    .stats-preview__text > div {
      margin: 0;
      flex-flow: column nowrap; } }

.stats-preview > * {
  width: 50%;
  height: 100%; }

/***  THEME  *** */
.stats-preview--t-bg {
  background: #1b1938; }

.stats-preview--t-bold {
  font-weight: bold; }

.stats-preview--t-up {
  text-transform: uppercase; }

/* ---------  LAYERED IMG  ----------- */
.layered-img__layer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit; }

.layered-img__img {
  background-size: cover; }

/******************************
 *            THEMES          *
 ****************************** */
.t-main-bg {
  background: #090b1a; }

.t-accent-bg {
  background: #aa5cdb; }

.t-accent-bg--50 {
  background: rgba(170, 92, 219, 0.5); }

.t-accent-color {
  color: #aa5cdb; }

.t-main-text {
  color: white; }

.t-secondary-text {
  color: rgba(255, 255, 255, 0.6); }

.t-ancillary-text {
  color: rgba(255, 255, 255, 0.6); }

/* ---------  BG IMG  ----------- */
.bgimg-studio {
  max-width: 100%;
  background: #fff url(../images/image-header-desktop.jpg) no-repeat center/cover; }
  @media screen and (max-width: 450px) {
    .bgimg-studio {
      background: #fff url(../images/image-header-mobile.jpg) no-repeat center/cover; } }

/*# sourceMappingURL=style.css.map */
