.l-col-flex 
    display: flex
    flex-flow: column nowrap

.l-row-flex 
    display: flex
    flex-flow: row nowrap

.l-viewport
    width: 100vw
    height: 100vh

.l-center
    justify-content: center
    align-items: center

.l-distance
    margin-top: auto
    @media screen and ( max-width: 450px)
        margin: 0

.l-spacebetween
    justify-content: space-between